ConsoleApp2/.vs/
ConsoleApp2/ConsoleApp2/bin/
FirstConsoleApp/FirstConsoleApp/bin/
FirstConsoleApp/.vs/
ConsoleApp2/ConsoleApp2/obj/
FirstConsoleApp/FirstConsoleApp/obj/
C-SharpTypesAndVariable/.vs/
C-SharpTypesAndVariable/C-SharpTypesAndVariable/obj/
C-SharpTypesAndVariable/C-SharpTypesAndVariable/bin/
